<ul class="social-media-list">
    <li>
        <a rel="me"
           href="https://github.com/dfederm"
           title="dfederm">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/social-icons.svg#github' | relative_url }}"></use>
            </svg>
        </a>
    </li>
    <li>
        <a href="{{ 'feed.xml' | relative_url }}"
           title="Subscribe">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/social-icons.svg#rss' | relative_url }}"></use>
            </svg>
        </a>
    </li>
</ul>